# Google Sign-In
EXPO_PUBLIC_IOS_ID=value
EXPO_PUBLIC_ANDROID_ID_DEV=value
EXPO_PUBLIC_ANDROID_ID_PROD=value
EXPO_PUBLIC_WEB_ID=value
EXPO_PUBLIC_SECRET_KEY=valu
EXPO_PUBLIC_LOG=true
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=value
GOOGLE_CLIENT_SECRET=value
# Keystore
KEYSTORE_PATH=value
KEYSTORE_PASSWORD=value
KEY_ALIAS=value
KEY_PASSWORD=value

# EAS
EAS_PROJECT_ID=value

#STRIPE
PUBLISH_KEY=sua_chave_publica
STRIPE_SECRET_KEY=sua_chave_secreta
